
<h1>Example full calendar </h1>
<%= show_calendar(:test,style: 'width:600px',id:'ff') %>
<%= next_month_link(:test,'Next',style:'color:red;',class:'nav'){true} %>
<%= previous_month_link(:test,'Prev',style:'color:red;',class:'nav'){true} %>
<%= next_year_link(:test,'NextY',style:'color:red;',class:'nav'){true} %>
<%= previous_year_link(:test,'PrevY',style:'color:red;',class:'nav'){true} %>

<h2>Another clndr</h2>
<script class="custom_template" type="template">

  <p>
    previousMonth is <%%= previousMonth%>
    nextMonth is <%%= nextMonth%>
  </p>
</script>

<%@custom_clndr.template = Clndr::Template.from_html('.custom_template') %>
<%=show_calendar(:second_clndr)%>