
<h1>Example full calndar </h1>
<%= show_calendar(:full,style:"width:600px",id:'ff') %>
<%= next_month_link(:full,'Next', style:'color:red;',class:'nm'){} %>
<%= previous_month_link(:full,'Prev', style:'color:red;',class:'pm') %>
<%= next_year_link(:full,'Next', style:'color:red;',class:'ny') %>
<%= previous_year_link(:full,'Prev', style:'color:red;',id:'py') %>
<%= @full.events %>